# TOPIC: String Based Assignment Problem

#### 1. Write a program to reverse a string.

In [1]:
s = "Hello, World!"

# Reverse string
t = s[::-1]
print(t)

!dlroW ,olleH

#### 2. Check if a string is a palindrome.

In [3]:
p = "nityin"

# Check if string is a palindrome
if p == p[::-1]:
    print("Yes, it is a palindrome.")
else:
    print("Nope.")

Nope.

#### 3. Convert a string to uppercase.

In [6]:
u = p.upper()
print(u)

NITYIN

#### 4. Convert a string to lowercase

In [7]:
u = u.lower()
print(u)

nityin

#### 5. Count the number of vowels in a string.

In [8]:
sentence = "The sun sets in the west."

# Convert the sentence to lowercase to get all vowels
sentence = sentence.lower()

# Counter for vowels
vow = 0

# Counting the vowels
vow += sentence.count("a")
vow += sentence.count("e")
vow += sentence.count("i")
vow += sentence.count("o")
vow += sentence.count("u")

print("The number of vowels in the input sentence:", vow)

The number of vowels in the input sentence: 6

#### 6. Count the number of consonants in a string.

In [15]:
sen = "The sun sets in the west."

# Convert the sentence to lowercase
sen = sen.lower()

# Total length of string
to = len(sen)

# Counter for vowels
vow = 0

# Counting the vowels
vow += sen.count("a")
vow += sen.count("e")
vow += sen.count("i")
vow += sen.count("o")
vow += sen.count("u")

# Counting extra characters
e = 0
e += sen.count(".")
e += sen.count(" ")

print("The number of consonants in the sentence:", to - (vow + e))

The number of consonants in the sentence: 13

#### 7. Remove all whitespaces from a string.

In [16]:
my_str = "Hello   World    !"

# Remove whitespaces using replace() method
new = my_str.replace(" ", "")

print("String without whitespaces:", new)

String without whitespaces: HelloWorld!

#### 8. Find the length of a string without using the `len()` function.

In [20]:
l = "The quick brown fox jumps over the lazy dog."
h = 0

# Using for loop to get length of string
for c in l:
    h += 1
 
print(h)

44

#### 9. Check if a string contains a specific word.

In [2]:
str1 = "His name is Dan. He is an honest man."

# Check if string contains a specific word
if "honest" in str1:
    print("Yes, it is present.")
else:
    print("Nope.")

Yes, it is present.

#### 10. Replace a word in a string with another word.

In [32]:
str2 = str1.replace("Dan", "Jim")
print(str2)

His name is Jim. He is an honest man.

#### 11. Count the occurrences of a word in a string.

In [33]:
o = str1.count("t")
print(o)

1

#### 12. Find the first occurrence of a word in a string.

In [1]:
str1 = "His name is Dan. He is an honest man."

# Find returns index value of the first occurrence of word we are searching
print(str1.find("Dan"))

12

#### 13. Find the last occurrence of a word in a string.

In [8]:
word_to_find = "is"

# Find last occurrence of "is" using rfind()
ind = str1.rfind(word_to_find)
print(ind)

20

#### 14. Split a string into a list of words.

In [9]:
ls = str1.split()
print(ls)

['His', 'name', 'is', 'Dan.', 'He', 'is', 'an', 'honest', 'man.']

#### 15. Join a list of words into a string.

In [12]:
j = ["Hi", "Jodie", "how", "are", "you?"]
k = " ".join(j)
print(k)

Hi Jodie how are you?

#### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [13]:
uns = str1.replace(" ", "_")
print(uns)

His_name_is_Dan._He_is_an_honest_man.

#### 17. Check if a string starts with a specific word or phrase.

In [14]:
print(str1.startswith("Python"))

False

#### 18. Check if a string ends with a specific word or phrase.

In [18]:
print(str1.endswith("man"))

False

#### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [19]:
print(str1.title())

His Name Is Dan. He Is An Honest Man.

#### 20. Find the longest word in a string.

In [20]:
# Split the string into a list of words
words = str1.split()

# Initialize variables to store the longest word and its length
longest_word = ""
max_length = 0

# Loop through each word in the list
for word in words:
    # Check the length of each word
    if len(word) > max_length:
        max_length = len(word)
        longest_word = word

# Print the longest word
print(f"Longest word in the given string is {longest_word}.")

Longest word in the given string is honest.

#### 21. Find the shortest word in a string.

In [26]:
# Split the string into a list of words
words = str1.split()

# Initialize variables to store the shortest word and its length
shortest_word = words[0]
min_length = len(shortest_word)

# Loop through each word in the list starting from the second word
for word in words[1:]:
    # Check the length of each word
    if len(word) < min_length:
        min_length = len(word)
        shortest_word = word  

# Print the longest word
print(f"Shortest word in the given string is '{shortest_word}'.")

Shortest word in the given string is 'is'.

#### 22. Reverse the order of words in a string.

In [28]:
# Split the string into a list of words
words = str1.split()

# Reverse the order of words and join them back into a string
reversed_string = ' '.join(reversed(words))

# Print the reversed string
print("Reversed order of words:", reversed_string)

Reversed order of words: man. honest an is He Dan. is name His

#### 23. Check if a string is alphanumeric.

In [29]:
print(str1.isalnum())

False

#### 24. Extract all digits from a string.

In [2]:
str3 = "Harry had 3 apples. He gave 2 away."
extracted_digits = []

# Check for digits and extract them in a list
for char in str3:
    if char.isdigit():
        extracted_digits.append(char)
        
print(extracted_digits)

['3', '2']

#### 25. Extract all alphabets from a string.

In [4]:
extracted_alpha = []

# Check for alphabets and extract them in a list
for char in str3:
    if char.isalpha():
        extracted_alpha.append(char)
        
print(extracted_alpha)

['H', 'a', 'r', 'r', 'y', 'h', 'a', 'd', 'a', 'p', 'p', 'l', 'e', 's', 'H', 'e', 'g', 'a', 'v', 'e', 'a', 'w', 'a', 'y']

#### 26. Count the number of uppercase letters in a string.

In [9]:
extracted_alpha = []

# Check for alphabets and extract them in a list
for char in str3:
    if char.isalpha():
        extracted_alpha.append(char)

count = 0

for elm in extracted_alpha:
    if elm.isupper():
        count += 1
        
print("Number of uppercase letters in the string:", count)

Number of uppercase letters in the string: 2

#### 27. Count the number of lowercase letters in a string.

In [10]:
extracted_alpha = []

# Check for alphabets and extract them in a list
for char in str3:
    if char.isalpha():
        extracted_alpha.append(char)

count = 0

for elm in extracted_alpha:
    if elm.islower():
        count += 1
        
print("Number of lowercase letters in the string:", count)

Number of lowercase letters in the string: 22

#### 28. Swap the case of each character in a string.

In [11]:
print(str3.swapcase())

hARRY HAD 3 APPLES. hE GAVE 2 AWAY.

#### 29. Remove a specific word from a string.

In [12]:
# There is no method to remove from a string but we can use replace() to get a specific word replaced with an empty string
new_str3 = str3.replace("He", "")
print(new_str3)

Harry had 3 apples.  gave 2 away.

#### 30. Check if a string is a valid email address.

In [18]:
email = "triton@gmail.com"

if '@' in email and '.' in email:
    # Check if '@' appears before '.'
    if email.index("@") < email.index("."):
        print("Valid Email Address")
    else:
        print("Nope")
else:
    print("Nope")

Valid Email Address

#### 31. Extract the username from an email address string.

In [22]:
# Get '@' index
atr = email.index("@")

# Initialize empty list
lst = []

# Loop to get username characters in a list
for char in email[:atr]:
    lst.append(char)

# Converting list to string using join()
un = "".join(lst) 
print("Username:", un)

Username: triton

#### 32. Extract the domain name from an email address string.

In [23]:
# Get '@' index
atr = email.index("@")

# Get '.' index
dot = email.index(".")

# Initialize empty list
lst = []

# Loop to get domain name characters in a list
for char in email[atr+1:dot]:
    lst.append(char)
    
# Converting list to string using join()
dn = "".join(lst) 
print("Domain Name:", dn)

Domain Name: gmail

#### 33. Replace multiple spaces in a string with a single space.

In [27]:
str4 = "Give       me a   glass     of water     , please                             . "

# Replace multiple spaces with a single space using split() and join()
new_str4 = ' '.join(str4.split())

# Pretiify the output
ns = new_str4.replace(" ,", ",").replace(" .", ".")

# Print the updated string
print("New string:", ns)

New string: Give me a glass of water, please.

#### 34. Check if a string is a valid URL.

In [34]:
url = "https://yellow-hairdresser-drtfm.pwskills.app/lab/tree/work/20th_August_Python_Basics_Practice_Test_File.ipynb"

if "https://" in url and "." in url:
    if url.index("https://") < url.index("."):
        print("Valid URL")
    else:
        print("Nope")
elif "http://" in url and "." in url:
    if url.index("http://") < url.index("."):
        print("Valid URL")
    else:
        print("Nope")        
else:
    print("Nope")

Valid URL

#### 35. Extract the protocol (http or https) from a URL string.

In [37]:
if "https://" in url:
    proto = url[:5]
    print("Protocol:", proto)
elif "http://" in url:
    proto = url[:4]
    print("Protocol:", proto)    
else:
    print("Not a valid URL.")

Protocol: https

#### 36. Find the frequency of each character in a string.

In [38]:
str5 = "Hello, World!"

# Initialize an empty list to store character frequencies
char_freq = []

# Display the frequency of each character
print("Character frequencies in the string:")
for char in str5:
    # Check if the character is not already counted
    if char not in char_freq:
        freq = str5.count(char)
        char_freq.append(char)  # Store the character in the list
        print(f"'{char}' occurs {freq} time(s) in the string.")

Character frequencies in the string:
'H' occurs 1 time(s) in the string.
'e' occurs 1 time(s) in the string.
'l' occurs 3 time(s) in the string.
'o' occurs 2 time(s) in the string.
',' occurs 1 time(s) in the string.
' ' occurs 1 time(s) in the string.
'W' occurs 1 time(s) in the string.
'r' occurs 1 time(s) in the string.
'd' occurs 1 time(s) in the string.
'!' occurs 1 time(s) in the string.

#### 37. Remove all punctuation from a string.

In [48]:
str6 = "Hi Harry, How are you?"
tl = []

punc_chars = '''."'!;:?(){}-[],'''

for char in str6:
    if char not in punc_chars:
        tl.append(char)

aft_rem = "".join(tl)
print(aft_rem)

Hi Harry How are you

#### 38. Check if a string contains only digits.

In [2]:
str7 = "Harry had 4 apples and 5 pears."

if str7.isdigit():
    print("String contains only digits.")
else:
    print("String does not contain only digits.")

String does not contain only digits.

#### 39. Check if a string contains only alphabets.

In [3]:
if str7.isalpha():
    print("String contains only alphabets.")
else:
    print("String does not contain only alphabets.")

String does not contain only alphabets.

#### 40. Convert a string to a list of characters.

In [6]:
lst_chars = list(str7)
print(lst_chars)

['H', 'a', 'r', 'r', 'y', ' ', 'h', 'a', 'd', ' ', '4', ' ', 'a', 'p', 'p', 'l', 'e', 's', ' ', 'a', 'n', 'd', ' ', '5', ' ', 'p', 'e', 'a', 'r', 's', '.']

#### 41. Check if two strings are anagrams.

In [11]:
str8 = "A Gentleman"
str9 = "Elegant Man"

# Remove spaces and convert strings to lowercase for comparison
str8 = str8.replace(" ", "").lower()
str9 = str9.replace(" ", "").lower()

# Check if the lengths of both strings are equal
if len(str8) != len(str9):
    print("Nope")

for char in str8:
    # Check if each character in str8 has the same count in str9
    if str8.count(char) != str9.count(char):
        print("Nope")

print("Both strings are anagrams.")

Both strings are anagrams.

#### 42. Encode a string using a Caesar cipher.

In [17]:
'''
The Caesar Cipher technique is one of the earliest and simplest methods of encryption technique. 
Itâ€™s simply a type of substitution cipher, i.e., each letter of a given text is replaced by a letter with a fixed number of positions down the alphabet.
'''

text = "Hello, World!"
shift_index = 3
alpha = "abcdefghijklmnopqrstuvwxyz"
encrypted_text = ""

for char in text:
    if char.isalpha():
        char_lower = char.lower()
        shifted_index = (alpha.index(char_lower) + shift_index) % 26
        encrypted_char = alpha[shifted_index]
        if char.isupper():
            encrypted_text += encrypted_char.upper()  
        else: 
            encrypted_text += encrypted_char
    else:
        encrypted_text += char

print(encrypted_text)

Khoor, Zruog!

#### 43. Decode a Caesar cipher encoded string.

In [18]:
encr = "Khoor, Zruog!"
decoded = ""

for char in encr:
    if char.isalpha():
        char_lower = char.lower()
        shifted_index = (alpha.index(char_lower) - shift_index) % 26
        decoded_char = alpha[shifted_index]
        if char.isupper():
            decoded += decoded_char.upper()  
        else: 
            decoded += decoded_char
    else:
        decoded += char

print(decoded)

Hello, World!

#### 44. Find the most frequent word in a string.

In [26]:
str10 = "The words some and any are used when the speaker cannot specify or does not need to specify a number."

str10 = str10.lower().replace(".", "").replace(",", "").replace("?", "").replace("!", "").replace("'", "")

words = str10.split()

most_freq_w = ""
max_count = 0

for word in words:
    count = words.count(word)
    if count > max_count:
        max_count = count
        most_freq_w = word
        
print(f"Most frequent word in the string is {most_freq_w}.")

Most frequent word in the string is the.

#### 45. Find all unique words in a string.

In [28]:
str11 = "The uncertainty principle of quantum physics builds the earliest foundations for quantum cryptography. With quantum computers of the future being expected to solve discrete logarithmic problems and the popularly known cryptography methods such as AES, RSA, DES, quantum cryptography becomes the foreseen solution."
uwrd_lst = []
d_lst = []

str11 = str11.lower().replace(".", "").replace(",", "").replace("?", "").replace("!", "").replace("'", "")

words = str11.split()

for word in words:
    if word not in d_lst:
        uwrd_lst.append(word)
        d_lst.append(word)
        
print(f"All unique word/s in a string: {uwrd_lst}")

All unique word/s in a string: ['the', 'uncertainty', 'principle', 'of', 'quantum', 'physics', 'builds', 'earliest', 'foundations', 'for', 'cryptography', 'with', 'computers', 'future', 'being', 'expected', 'to', 'solve', 'discrete', 'logarithmic', 'problems', 'and', 'popularly', 'known', 'methods', 'such', 'as', 'aes', 'rsa', 'des', 'becomes', 'foreseen', 'solution']

#### 46. Count the number of syllables in a string.

In [32]:
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

#### 47. Check if a string contains any special characters.

In [33]:
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = pattern.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)

# Example strings
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"

# Check if strings contain special characters
result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

# Print the results
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

#### 48. Remove the nth word from a string.

In [34]:
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4

# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)

if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

#### 49. Insert a word at the nth position in a string.

In [43]:
def insert_nth_word(input_string, n, iw):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Insert the nth word by include it in the words list
        words.insert(n - 1, iw)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string
    else:
        return None, None


# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 5
input_word = "hey"

# Insert the nth word
modified_str = insert_nth_word(input_str, n_value, input_word)

# Print the results
print("Original string:", input_str)

if modified_str is not None:
    print("Modified string:", modified_str)
    print("Inserted word:", input_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an example hey sentence to test the function.
Inserted word: hey

#### 50. Convert a CSV string to a list of lists.

In [44]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

# List Based Practice Problem :

#### 1. Create a list with integers from 1 to 10.

In [46]:
lst1 = []

for i in range(1, 11):
    lst1.append(i)
    
print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 2. Find the length of a list without using the `len()` function.

In [47]:
cnt = 0

for i in lst1:
    cnt += 1
    
print(f"Length of the list is {cnt}")

Length of the list is 10

#### 3. Append an element to the end of a list.

In [50]:
lst2 = [1, 2, 3]

lst2.append(14)
print(lst2)

[1, 2, 3, 14]

#### 4. Insert an element at a specific index in a list.

In [51]:
lst2.insert(1, 88)
print(lst2)

[1, 88, 2, 3, 14]

#### 5. Remove an element from a list by its value.

In [52]:
lst2.remove(3)
print(lst2)

[1, 88, 2, 14]

#### 6. Remove an element from a list by its index.

In [53]:
lst2.pop(2)
print(lst2)

[1, 88, 14]

#### 7. Check if an element exists in a list.

In [56]:
def element_exists(element, lst):
    return element in lst

# Test the function
my_list = [1, 3, 5, 7, 9]
element_to_check = 5

if element_exists(element_to_check, my_list):
    print(f"The element {element_to_check} exists in the list.")
else:
    print(f"The element {element_to_check} does not exist in the list.")

The element 5 exists in the list.

#### 8. Find the index of the first occurrence of an element in a list.

In [57]:
print(my_list.index(9))

4

#### 9. Count the occurrences of an element in a list.

In [58]:
str22 = "Now you know how to form simple sentences in various verb tenses! Try writing your own simple sentence examples to help you remember this sentence structure."

lst3 = str22.lower().split()

print(lst3.count("you"))

2

#### 10. Reverse the order of elements in a list.

In [59]:
print(lst3[::-1])

['structure.', 'sentence', 'this', 'remember', 'you', 'help', 'to', 'examples', 'sentence', 'simple', 'own', 'your', 'writing', 'try', 'tenses!', 'verb', 'various', 'in', 'sentences', 'simple', 'form', 'to', 'how', 'know', 'you', 'now']

#### 11. Sort a list in ascending order.

In [61]:
lst4 = [1, 44, 2, 4, 12, 34, 5, 7, 9, 23]
lst4.sort()
print(lst4)

[1, 2, 4, 5, 7, 9, 12, 23, 34, 44]

#### 12. Sort a list in descending order.

In [62]:
lst4.sort(reverse = True)
print(lst4)

[44, 34, 23, 12, 9, 7, 5, 4, 2, 1]

#### 13. Create a list of even numbers from 1 to 20.

In [64]:
lst5 = []

for i in range(1, 21):
    if i % 2 == 0:
        lst5.append(i)

print(lst5)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

#### 14. Create a list of odd numbers from 1 to 20.

In [65]:
lst5 = []

for i in range(1, 21):
    if i % 2 == 1:
        lst5.append(i)

print(lst5)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### 15. Find the sum of all elements in a list.

In [66]:
my_list = [10, 20, 30, 40, 50]

# Calculate the sum of all elements in the list
total_sum = sum(my_list)

# Print the sum
print("Sum of elements:", total_sum)

Sum of elements: 150

#### 16. Find the maximum value in a list.

In [67]:
max_value = max(my_list)

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 50

#### 17. Find the minimum value in a list.

In [68]:
min_value = min(my_list)

# Print the minimum value
print("Minimum value:", min_value)

Minimum value: 10

#### 18. Create a list of squares of numbers from 1 to 10.

In [69]:
lst6 = []

for i in range(1, 11):
    lst6.append(i ** 2)

print(lst6)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### 19. Create a list of random numbers.

In [75]:
import random

lst7 = []

for i in range(10):
    lst7.append(random.randrange(100))
    
print(lst7)

[88, 2, 33, 41, 18, 15, 13, 0, 6, 35]

#### 20. Remove duplicates from a list.

In [76]:
my_list = [10, 20, 30, 20, 40, 10, 50, 30]

# Remove duplicates by converting to a set and back to a list
unique_list = list(set(my_list))

# Print the list without duplicates
print("List without duplicates:", unique_list)

List without duplicates: [40, 10, 50, 20, 30]

#### 21. Find the common elements between two lists.

In [86]:
lst8 = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
lst9 = [1, 44, 78, 21, 25, 36, 45, 4, 10, 1030]

lst10 = [i for i in lst8 if i in lst9]
print(lst10)

[1, 4, 25, 36]

#### 22. Find the difference between two lists.

In [87]:
lst10 = [i for i in lst8 if i not in lst9]
print(lst10)

[9, 16, 49, 64, 81, 100]

#### 23. Merge two lists.

In [89]:
lst8.extend(lst9)
print(lst8)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 1, 44, 78, 21, 25, 36, 45, 4, 10, 1030]

#### 24. Multiply all elements in a list by 2.

In [1]:
lst11 = [10, 20, 30, 20, 40, 10, 50, 30]

for i in range(len(lst11)):
    lst11[i] *= 2
    

print(lst11)

[20, 40, 60, 40, 80, 20, 100, 60]

#### 25. Filter out all even numbers from a list.

In [2]:
numbers = [1, 2, 3, 4, 5]

# Get all even numbers using the filter function
evens = filter(lambda x: x % 2 == 0, numbers)

print(list(evens))

[2, 4]

#### 26. Convert a list of strings to a list of integers.

In [4]:
lst12 = ["12", "44", "78", "2"]

for i in range(len(lst12)):
    lst12[i] = int(lst12[i])
    
print(lst12)

[12, 44, 78, 2]

#### 27. Convert a list of integers to a list of strings.

In [8]:
lst13 = [121, 4234, 748, 82]

lst13 = map(lambda x: str(x), lst13)
    
print(list(lst13))

['121', '4234', '748', '82']

#### 28. Flatten a nested list.

In [11]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
flattened = []

for i in nested_list:
    flattened.extend(i)
    
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 29. Create a list of the first 10 Fibonacci numbers.

In [14]:
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

fibo = []
terms = 10
for i in range(terms):
    fibo.append(fibonacci(i))
    
print(fibo)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

#### 30. Check if a list is sorted.

In [16]:
def is_sorted(lst14):
    for i in range(len(lst14) - 1):
        if lst14[i] > lst14[i + 1]:
            return False
    return True

sorted_list = [1, 2, 3, 4, 5]
unsorted_list = [3, 1, 5, 2, 4]

if is_sorted(sorted_list):
    print("The list is sorted.")
else:
    print("The list is not sorted.")

if is_sorted(unsorted_list):
    print("The list is sorted.")
else:
    print("The list is not sorted.")

The list is sorted.
The list is not sorted.

#### 31. Rotate a list to the left by `n` positions.

In [17]:
def rotate_left(lst, n):
    n = n % len(lst)  # To handle cases where n is larger than the list length
    return lst[n:] + lst[:n]

my_list = [1, 2, 3, 4, 5]
positions_to_rotate = 2

rotated_list = rotate_left(my_list, positions_to_rotate)
print(f"List rotated to the left by {positions_to_rotate} positions: {rotated_list}")

List rotated to the left by 2 positions: [3, 4, 5, 1, 2]

#### 32. Rotate a list to the right by `n` positions.

In [ ]:
def rotate_right(lst, n):
    n = n % len(lst)  
    return lst[-n:] + lst[:-n]

my_list = [1, 2, 3, 4, 5]
positions_to_rotate = 2

rotated_list = rotate_right(my_list, positions_to_rotate)
print(f"List rotated to the right by {positions_to_rotate} positions: {rotated_list}")

List rotated to the right by 2 positions: [4, 5, 1, 2, 3]

#### 33. Create a list of prime numbers up to 50.

In [24]:
prime_list = []

for i in range(50):
    if i == 2 or i == 3 or i == 5 or i == 7:
        prime_list.append(i)
    elif i > 2:
        if i % 2 == 1 and i % 3 != 0 and i % 5 != 0 and i % 7 != 0:
            prime_list.append(i) 
            
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

#### 34. Split a list into chunks of size `n`.

In [25]:
def chunk_list(lst, n):
    return [lst[i:i + n] for i in range(0, len(lst), n)]

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3

result = chunk_list(my_list, chunk_size)
print(f"List splitted into chunks of size {chunk_size}: {result}")

List splitted into chunks of size 3: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

#### 35. Find the second largest number in a list.

In [28]:
def second_largest(lst):
    unique_nums = list(set(lst))  # Remove duplicates from the list
    if len(unique_nums) < 2:
        return "List doesn't have a second largest element."
    
    unique_nums.sort(reverse=True)
    return unique_nums[1]

my_list = [10, 5, 7, 3, 8, 5, 10, 15, 2, 7]
result = second_largest(my_list)
print(f"The second largest number in the list is: {result}")

The second largest number in the list is: 10

#### 36. Replace every element in a list with its square.

In [2]:
my_list = [10, 5, 7, 3, 8, 5, 10, 15, 2, 7]

my_list = [my_list[i] ** 2 for i in range(len(my_list))]
print(my_list)

[100, 25, 49, 9, 64, 25, 100, 225, 4, 49]

#### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [5]:
def list_to_dict(lst):
    return {value: index for index, value in enumerate(lst)}

my_list = ['apple', 'banana', 'orange', 'grape']
result = list_to_dict(my_list)
print(result)

{'apple': 0, 'banana': 1, 'orange': 2, 'grape': 3}

#### 38. Shuffle the elements of a list randomly.

In [6]:
import random

def shuffle_list(lst):
    shuffled = lst[:]  # Create a copy of the original list to avoid modifying it
    random.shuffle(shuffled)
    return shuffled

my_list = [1, 2, 3, 4, 5]
shuffled_list = shuffle_list(my_list)
print("Shuffled list:", shuffled_list)

Shuffled list: [1, 3, 4, 5, 2]

#### 39. Create a list of the first 10 factorial numbers.

In [7]:
def factorial(num):
    if (num == 1 or num == 0):
        return 1
    else:
        return (num * factorial(num - 1))
    
# Calculate the first 10 factorial numbers
factorial_list = [factorial(i) for i in range(10)]

print("List of the first 10 factorial numbers:")
print(factorial_list)

List of the first 10 factorial numbers:
[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

#### 40. Check if two lists have at least one element in common.

In [1]:
lst22 = [1, 3, 4, 5, 2]
lst33 = [10, 23, 4, 51, 22]

lst44 = [x for x in lst22 if x in lst33]

if len(lst44) >= 1:
    print("At least one element is common in both lists")

At least one element is common in both lists

#### 41. Remove all elements from a list.

In [2]:
lst34 = [10, 23, 4, 51, 22]
lst34.clear()

print(lst34)

[]

#### 42. Replace negative numbers in a list with 0.

In [5]:
lst35 = [-10, 23, -4, 51, -22]

lst35 = [0 if x < 0 else x for x in lst35]

print(lst35)

[0, 23, 0, 51, 0]

#### 43. Convert a string into a list of words.

In [6]:
vc = "hello world"

vc_lst = vc.split()
print(vc_lst)

['hello', 'world']

#### 44. Convert a list of words into a string.

In [7]:
lst36 = ['hello', 'world']

str0 = " ".join(lst36)

print(str0)

hello world

#### 45. Create a list of the first `n` powers of 2.

In [10]:
num = 5

powr_lst = [2 ** i for i in range(num)]

print("Pwer List:", powr_lst)

Pwer List: [1, 2, 4, 8, 16]

#### 46. Find the longest string in a list of strings.

In [23]:
lst40 = "The time complexity of the split_sentence function is O(n), where n is the length of the input string. This is because the findall function performs a linear scan of the input string to find all the matches.".split()

lsc = 0

for word in lst40:
    cnt = len(word)
    if cnt > lsc:
        lsc = cnt  # longest str count
        lw = word
        
print(f"Longest word in the string is '{lw}'.")

Longest word in the string is 'split_sentence'.

#### 47. Find the shortest string in a list of strings.

In [24]:
ssc = len(lst40[0])

for word in lst40[1:]:
    cnt = len(word)
    if cnt < ssc:
        ssc = cnt  # shortest str count
        lw = word
        
print(f"Shortest word in the string is'{lw}'.")

Shortest word in the string is'n'.

#### 48. Create a list of the first `n` triangular numbers.

In [25]:
n = 8

tr = [i * (i + 1) // 2 for i in range(1, n + 1)]

print(tr)

[1, 3, 6, 10, 15, 21, 28, 36]

#### 49. Check if a list contains another list as a subsequence.

In [26]:
# Function to check if a list contains another list as a subsequence
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 1, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list does not contain the subsequence.

#### 50. Swap two elements in a list by their indices.

In [27]:
lst50 = [1, 3, 6, 10, 15, 21, 28, 36]

lst50[3], lst50[7] = lst50[7], lst50[3]

print(lst50)

[1, 3, 6, 36, 15, 21, 28, 10]

# Tuple Based Practice Problem :

#### 1. Create a tuple with integers from 1 to 5.

In [31]:
lst100 = [x for x in range(1, 6)]  # tuple is immutable so to add elements we first have to create a list then convert to tuple

tup1 = tuple(lst100)

print(tup1)

(1, 2, 3, 4, 5)

#### 2. Access the third element of a tuple.

In [33]:
print(tup1[2])

3

#### 3. Find the length of a tuple without using the `len()` function.

In [34]:
count = 0

for i in tup1:
    count += 1

print("Length of tuple is", count)

Length of tuple is 5

#### 4. Count the occurrences of an element in a tuple.

In [36]:
tup2 = (22, 45, 13, 70, 62, 44, 13, 22, 22)

print(tup2.count(22))

3

#### 5. Find the index of the first occurrence of an element in a tuple.

In [37]:
print(tup2.index(62))

4

#### 6. Check if an element exists in a tuple.

In [38]:
if 100 in tup2:
    print("Present")
else:
    print("Absent")

Absent

#### 7. Convert a tuple to a list.

In [39]:
lst102 = list(tup2)
print(lst102)

[22, 45, 13, 70, 62, 44, 13, 22, 22]

#### 8. Convert a list to a tuple.

In [40]:
lst103 = [22, 45, 13, 70, 62, 44, 13, 22, 22, 999]

tup3 = tuple(lst103)
print(tup3)

(22, 45, 13, 70, 62, 44, 13, 22, 22, 999)

#### 9. Unpack the elements of a tuple into variables.

In [43]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30)

# Step 2: Unpack the elements of the tuple into variables
var1, var2, var3 = my_tuple

# Step 3: Print the variables
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

#### 10. Create a tuple of even numbers from 1 to 10.

In [46]:
lst105 = []

for i in range(1, 11):
    if i % 2 == 0:
        lst105.append(i)
        
tup5 = tuple(lst105)        
print(tup5)

(2, 4, 6, 8, 10)

#### 11. Create a tuple of odd numbers from 1 to 10.

In [47]:
lst106 = []

for i in range(1, 11):
    if i % 2 == 1:
        lst106.append(i)
        
tup6 = tuple(lst106)        
print(tup6)

(1, 3, 5, 7, 9)

#### 12. Concatenate two tuples.

In [48]:
tup7 = (1, 3, 5, 7, 9)
tup8 = (2, 4, 6, 8, 10)

tup9 = tup7 + tup8
print(tup9)

(1, 3, 5, 7, 9, 2, 4, 6, 8, 10)

#### 13. Repeat a tuple three times.

In [49]:
tup10 = tup7 * 3
print(tup10)

(1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9)

#### 14. Check if a tuple is empty.

In [54]:
tup11 = ()

if tup11 == ():
    print("Empty tuple.")
else:
    print("Not empty")

Empty tuple.

#### 15. Create a nested tuple.

In [56]:
nested_tuple = ((1, 2, 3), (True, False))

print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), (True, False))

#### 16. Access the first element of a nested tuple.

In [58]:
print(nested_tuple[0][0])

1

#### 17. Create a tuple with a single element.

In [59]:
tup12 = (1, )
print(tup12)

(1,)

#### 18. Compare two tuples.

In [60]:
tuple13 = (1, 2, 3)
tuple14= (1, 2, 4)

print("tuple13 == tuple14:", tuple13 == tuple14)  # Equality check

tuple13 == tuple14: False

#### 19. Delete a tuple.

In [63]:
tup15 = (1, )

del tup15

print(tup15)

NameError: name 'tup15' is not defined

#### 20. Slice a tuple.

In [65]:
tup16= (1, 2, 4, 5, 33, 21, 98, 0)

print(tup16[2:5])

(4, 5, 33)

#### 21. Find the maximum value in a tuple.

In [66]:
print(max(tup16))

98

#### 22. Find the minimum value in a tuple.

In [67]:
print(min(tup16))

0

#### 23. Convert a string to a tuple of characters.

In [68]:
strt = "andkandoadnoad"

print(tuple(strt))

('a', 'n', 'd', 'k', 'a', 'n', 'd', 'o', 'a', 'd', 'n', 'o', 'a', 'd')

#### 24. Convert a tuple of characters to a string.

In [70]:
tup17 = ('a', 'n', 'd', 'k', 'a', 'n', 'd', 'o', 'a', 'd', 'n', 'o', 'a', 'd')

print("".join(tup17))

andkandoadnoad

#### 25. Create a tuple from multiple data types.

In [71]:
tup18 = (True, "web", 24, 4.8)

# Printing the tuple
print(tup18)

(True, 'web', 24, 4.8)

#### 26. Check if two tuples are identical.

In [72]:
tuple13 = (1, 2, 3)
tuple14= (1, 2, 4)

print("tuple13 == tuple14:", tuple13 == tuple14)

tuple13 == tuple14: False

#### 27. Sort the elements of a tuple.

In [75]:
tup19= (1, 2, 4, 5, 33, 21, 98, 0)

sorted_tup = tuple(sorted(tup19))

print(sorted_tup)

(0, 1, 2, 4, 5, 21, 33, 98)

#### 28. Convert a tuple of integers to a tuple of strings.

In [76]:
tup20 = (1, 2, 3, 24, 62)

tup21 = tuple([str(x) for x in tup20])

print(tup21)

('1', '2', '3', '24', '62')

#### 29. Convert a tuple of strings to a tuple of integers.

In [77]:
tup22 = ('1', '2', '3', '24', '62')

tup23 = tuple([int(x) for x in tup22])

print(tup23)

(1, 2, 3, 24, 62)

#### 30. Merge two tuples.

In [78]:
tup24 = (1, 2, 3)
tup25= (1, 2, 4)

merged_tup = tup24 + tup25
print(merged_tup)

(1, 2, 3, 1, 2, 4)

#### 31. Flatten a nested tuple.

In [83]:
tup26 = ((1, 2, 3), (4, 5), (6, 7, 8, 9))

temp_lst26 = [list(i) for i in tup26]  # convert nested tuple to nested list

flattened = []

for i in temp_lst26:
    flattened.extend(i)
    
print(tuple(flattened))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

#### 32. Create a tuple of the first 5 prime numbers.

In [84]:
prime_list = []

for i in range(50):
    if i == 2 or i == 3 or i == 5 or i == 7:
        prime_list.append(i)
    elif i > 2:
        if i % 2 == 1 and i % 3 != 0 and i % 5 != 0 and i % 7 != 0:
            prime_list.append(i) 
            
            
print(tuple(prime_list[:5]))

(2, 3, 5, 7, 11)

#### 33. Check if a tuple is a palindrome.

In [93]:
tup27 = ("nitin")

strt27 = str(tup27)

if strt27 == strt27[::-1]:
    print("It is a palindrome.")
else:
    print("Nope")

It is a palindrome.

#### 34. Create a tuple of squares of numbers from 1 to 5.

In [94]:
lsts = []

for i in range(1, 6):
    lsts.append(i ** 2)

tup28 = tuple(lsts)
print(tup28)

(1, 4, 9, 16, 25)

#### 35. Filter out all even numbers from a tuple.

In [95]:
tup29 = (2, 43, 56, 78, 99, 10, 11)

templ = list(tup29)
t = []

for i in templ:
    if i % 2 == 0:
      t.append(i)

tup30 = tuple(t)
print(tup30)

(2, 56, 78, 10)

#### 36. Multiply all elements in a tuple by 2.

In [1]:
tup31 = (2, 43, 56, 78, 99, 10, 11)

mul = tuple([x * 2 for x in tup31])

print(mul)

(4, 86, 112, 156, 198, 20, 22)

#### 37. Create a tuple of random numbers.

In [3]:
import random

radtup = tuple([random.randint(1, 50) for i in range(10)])


print(radtup)

(47, 40, 26, 35, 19, 11, 36, 23, 8, 41)

#### 38. Check if a tuple is sorted.

In [6]:
def is_sorted(t):
    for i in range(len(t) - 1):
        if t[i] > t[i + 1]:
            return False
    return True

tup32 = (2, 43, 56, 78, 99, 10, 11)
tept = list(tup32)

if is_sorted(tept):
    print("The tuple is sorted.")
else:
    print("The tuple is not sorted.")

The tuple is not sorted.

#### 39. Rotate a tuple to the left by `n` positions.

In [7]:
def rotate_left(lst, n):
    n = n % len(lst)  # To handle cases where n is larger than the list length
    return lst[n:] + lst[:n]

tup33 = (2, 43, 56, 78, 99, 10, 11)

rtl = list(tup33)
positions_to_rotate = 4

rotated_tuple = tuple(rotate_left(rtl, positions_to_rotate))
print(f"Tuple rotated to the left by {positions_to_rotate} positions: {rotated_tuple}")

Tuple rotated to the left by 4 positions: (99, 10, 11, 2, 43, 56, 78)

#### 40. Rotate a tuple to the right by `n` positions.

In [9]:
def rotate_right(lst, n):
    n = n % len(lst)  # To handle cases where n is larger than the list length
    return lst[-n:] + lst[:-n]

tup34 = (2, 43, 56, 78, 99, 10, 11)

rtl = list(tup34)
positions_to_rotate = 4

rotated_tuple = tuple(rotate_right(rtl, positions_to_rotate))
print(f"Tuple rotated to the right by {positions_to_rotate} positions: {rotated_tuple}")

Tuple rotated to the right by 4 positions: (78, 99, 10, 11, 2, 43, 56)

#### 41. Create a tuple of the first 5 Fibonacci numbers.

In [68]:
def fibo(n):
    if n <= 1:
        return n
    else:
        return fibo(n-1) + fibo(n-2)
    
fnum = 5
fl = []

for i in range(fnum):
    fl.append(fibo(i))  

tup35 = tuple(fl)

print(f"Tuple of First 5 Fibonacci numbers: {tup35}")

Tuple of First 5 Fibonacci numbers: (0, 1, 1, 2, 3)

#### 42. Create a tuple from user input.

In [17]:
inl = []

for i in range(5):
    inl.append(input(f"Enter {i + 1} element of tuple:"))
    
inpt = tuple(inl)
print(inpt)

Enter 1 element of tuple: sdf
Enter 2 element of tuple: asf
Enter 3 element of tuple: asf
Enter 4 element of tuple: a
Enter 5 element of tuple: af

('sdf', 'asf', 'asf', 'a', 'af')

#### 43. Swap two elements in a tuple.

In [18]:
stup = ('sdf', 'asf', 'asf', 'a', 'af')

tsw = list(stup)

tsw[1], tsw[3] = tsw[3], tsw[1]

astup = tuple(tsw)
print(astup)

('sdf', 'a', 'asf', 'asf', 'af')

#### 44. Reverse the elements of a tuple.

In [21]:
tup36 = (78, 99, 10, 11, 2, 43, 56)

temp36 = list(tup36)
rl = temp36[::-1]

atup36 = tuple(rl)
print(atup36)

(56, 43, 2, 11, 10, 99, 78)

#### 45. Create a tuple of the first `n` powers of 2.

In [22]:
num = 5

powr_lst = [2 ** i for i in range(num)]

powr_tup = tuple(powr_lst)

print(powr_tup)

(1, 2, 4, 8, 16)

#### 46. Find the longest string in a tuple of strings.

In [25]:
lst40 = "The time complexity of the split_sentence function is O(n), where n is the length of the input string. This is because the findall function performs a linear scan of the input string to find all the matches.".split()
tup40 = tuple(lst40)
print(f"Tuple of strings: {tup40}")

lsc = 0

for word in tup40:
    cnt = len(word)
    if cnt > lsc:
        lsc = cnt  # longest str count
        lw = word
        
print(f"Longest word in the tuple is '{lw}'.")

Tuple of strings: ('The', 'time', 'complexity', 'of', 'the', 'split_sentence', 'function', 'is', 'O(n),', 'where', 'n', 'is', 'the', 'length', 'of', 'the', 'input', 'string.', 'This', 'is', 'because', 'the', 'findall', 'function', 'performs', 'a', 'linear', 'scan', 'of', 'the', 'input', 'string', 'to', 'find', 'all', 'the', 'matches.')
Longest word in the tuple is 'split_sentence'.

#### 47. Find the shortest string in a tuple of strings.

In [ ]:
ssc = len(tup40[0])

for word in tup40[1:]:
    cnt = len(word)
    if cnt < ssc:
        ssc = cnt  # shortest str count
        lw = word
        
print(f"Shortest word in the tuple is'{lw}'.")

#### 48. Create a tuple of the first `n` triangular numbers.

In [27]:
n = 8

tr = tuple([i * (i + 1) // 2 for i in range(1, n + 1)])

print(tr)

(1, 3, 6, 10, 15, 21, 28, 36)

#### 49. Check if a tuple contains another tuple as a subsequence.

In [29]:
# Function to check if a tuple contains another tuple as a subsequence
def is_subsequence(subsequence, main_tup):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_tup:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main tuple and subsequence
main_tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
subsequence = (3, 7, 8)

# Check if the main tuple contains the subsequence
if is_subsequence(subsequence, main_tup):
    print("Main tuple contains the subsequence.")
else:
    print("Main tuple does not contain the subsequence.")

Main tuple contains the subsequence.

#### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [31]:
altl = []

for i in range(10):
    if i % 2 == 0:
        altl.append(1)
    else:
        altl.append(0)
        
altt = tuple(altl)
print(altt)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

# Set Based Practice Problem :

#### 1. Create a set with integers from 1 to 5.

In [32]:
set1 = set()

for i in range(1, 6):
    set1.add(i)
    
print(set1)

{1, 2, 3, 4, 5}

#### 2. Add an element to a set.

In [34]:
set1.add(44)
print(set1)

{1, 2, 3, 4, 5, 44}

#### 3. Remove an element from a set.

In [35]:
set1.remove(3)
print(set1)

{1, 2, 4, 5, 44}

#### 4. Check if an element exists in a set.

In [36]:
info = {"Carla", 19, False, 5.9}
if "Carla" in info:
    print("Carla is present.")
else:
    print("Carla is absent.")

Carla is present.

#### 5. Find the length of a set without using the `len()` function.

In [37]:
count = 0

for i in info:
    count += 1

print("Length of set is", count)

Length of set is 4

#### 6. Clear all elements from a set.

In [42]:
info.clear()
print(info)

set()

#### 7. Create a set of even numbers from 1 to 10.

In [1]:
set2 = set()

for i in range(1, 11):
    if i % 2 == 0:
        set2.add(i)
        
print(set2)

{2, 4, 6, 8, 10}

#### 8. Create a set of odd numbers from 1 to 10.

In [2]:
set3 = set()

for i in range(1, 11):
    if i % 2 == 1:
        set3.add(i)
        
print(set3)

{1, 3, 5, 7, 9}

#### 9. Find the union of two sets.

In [3]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}

cities3 = cities.union(cities2)  # union() method prints all unique items that are present in the two sets.
print(cities3)

{'Berlin', 'Tokyo', 'Seoul', 'Delhi', 'Madrid', 'Kabul'}

#### 10. Find the intersection of two sets.

In [4]:
cities3 = cities.intersection(cities2)  # intersection() method prints only items that are present in both the sets.
print(cities3)

{'Tokyo', 'Madrid'}

#### 12. Check if a set is a subset of another set.

In [5]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Delhi", "Madrid"}
print(cities2.issubset(cities))  # issubset() method checks if all the items are present in the particular set. It returns True if all the items are present, else it returns False.

True

#### 13. Check if a set is a superset of another set.

In [6]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Seoul", "Kabul"}
print(cities.issuperset(cities2))  # issuperset() method checks if all the items of a particular set are present in the original set. It returns True if all the items are present, else it returns False.

False

#### 14. Create a set from a list.

In [7]:
lst500 = [1, 2, 3, 4, 5, 6, 7, 8, 822]

set4 = set(lst500)
print(set4)

{1, 2, 3, 4, 5, 6, 7, 8, 822}

#### 15. Convert a set to a list.

In [2]:
set5 = {1, 2, 3, 4, 5, 6, 7, 8, 822}

lst501 = list(set5)
print(lst501)

[1, 2, 3, 4, 5, 6, 7, 8, 822]

#### 16. Remove a random element from a set.

In [6]:
import random

set5 = {1, 2, 3, 4, 5, 6, 7, 8, 822}

rl = random.choice(list(set5))

set5.remove(rl)
print(set5)

{1, 2, 3, 5, 6, 7, 8, 822}

### 17. Pop an element from a set.

In [17]:
set5 = {33, 2, 3, 3342, 5, 6, 7, 8, 822}
set5.pop()  # This method removes the last item of the set but the catch is that we donâ€™t know which item gets popped as sets are unordered.
print(set5)

{2, 3, 5, 6, 7, 8, 3342, 822}

#### 18. Check if two sets have no elements in common.

In [18]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
print(cities.isdisjoint(cities2))  # The isdisjoint() method checks if items of given set are present in another set. This method returns False if items are present, else it returns True.

False

#### 19. Find the symmetric difference between two sets.

In [19]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.symmetric_difference(cities2)  # The symmetric_difference() method prints only items that are not present in both the sets.
print(cities3)

{'Seoul', 'Delhi', 'Berlin', 'Kabul'}

#### 20. Update a set with elements from another set.

In [20]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Helsinki", "Warsaw", "Seoul"}
cities.update(cities2)
print(cities)

{'Warsaw', 'Tokyo', 'Seoul', 'Helsinki', 'Delhi', 'Madrid', 'Berlin'}

#### 21. Create a set of the first 5 prime numbers.

In [33]:
prime_list = []

for i in range(50):
    if i == 2 or i == 3 or i == 5 or i == 7:
        prime_list.append(i)
    elif i > 2:
        if i % 2 == 1 and i % 3 != 0 and i % 5 != 0 and i % 7 != 0:
            prime_list.append(i) 
            
            
print(set(prime_list[:5]))

{2, 3, 5, 7, 11}

#### 22. Check if two sets are identical.

In [37]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Helsinki", "Warsaw", "Seoul"}

if cities == cities2:
    print("Two sets are identical")
else:
    print("Nope")

Nope

#### 23. Create a frozen set.

In [39]:
# A frozen set is an immutable collection similar to a set, but once it's created, 
# you cannot modify its elements.
my_frozen_set = frozenset({1, 2, 3, 4, 5})

print("Frozen set:", my_frozen_set)

Frozen set: frozenset({1, 2, 3, 4, 5})

#### 24. Check if a set is disjoint with another set.

In [40]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
print(cities.isdisjoint(cities2))

False

#### 25. Create a set of squares of numbers from 1 to 5.

In [42]:
set25 = set()

for i in range(1, 6):
    set25.add(i ** 2)

print(set25)

{1, 4, 9, 16, 25}

#### 26. Filter out all even numbers from a set.

In [43]:
set26 = {1, 4, 9, 16, 25}

set26t = set()

for i in set26:
    if i % 2 == 0:
        set26t.add(i)

print(set26t)

{16, 4}

#### 27. Multiply all elements in a set by 2.

In [44]:
set27 = {2, 43, 56, 78, 99, 10, 11}

mul = {x * 2 for x in set27}

print(mul)

{4, 198, 112, 20, 22, 86, 156}

#### 28. Create a set of random numbers.

In [45]:
import random

radset = {random.randint(1, 50) for i in range(10)}

print(radset)

{36, 42, 12, 15, 17, 50, 19, 22, 31}

#### 29. Check if a set is empty.

In [46]:
set29 = {2, 43, 56, 78, 99, 10, 11}

if set29 == set():
    print("Empty Set")
else:
    print("Not an empty set")

Not an empty set

#### 30. Create a nested set (hint: use frozenset).

In [48]:
set30 = {1, 3, frozenset({44, 78, 98}), 90}
print(set30)

{1, 90, 3, frozenset({98, 44, 78})}

#### 31. Remove an element from a set using the discard method.

In [49]:
set31 = {2, 43, 56, 78, 99, 10, 11}

set31.discard(99)
print(set31)

{2, 56, 11, 10, 43, 78}

#### 32. Compare two sets.

In [50]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Seoul", "Kabul"}
print(cities.issuperset(cities2))

False

#### 33. Create a set from a string.

In [51]:
name33 = "Ron"

set33 = set(name33)
print(set33)

{'n', 'o', 'R'}

#### 34. Convert a set of strings to a set of integers.

In [55]:
set34 = {"221", "45", "109"}

set34 = {int(item) for item in set34}
    
print(set34)

{221, 109, 45}

#### 35. Convert a set of integers to a set of strings.

In [56]:
set35 = {221, 109, 45, 0, 52}

set35 = {str(item) for item in set35}
    
print(set35)

{'45', '109', '52', '221', '0'}

#### 36. Create a set from a tuple.

In [57]:
tup36 = (1, 2, 4, 5, 33, 21, 98, 0)

set36 = set(tup36)
print(set36)

{0, 1, 2, 33, 4, 5, 98, 21}

#### 37. Convert a set to a tuple.

In [58]:
set37 = {0, 1, 2, 33, 4, 5, 98, 21}

tup37 = tuple(set37)
print(tup37)

(0, 1, 2, 33, 4, 5, 98, 21)

#### 38. Find the maximum value in a set.

In [59]:
set38 = {221, 109, 45, 0, 52}

print(max(set38))

221

#### 39. Find the minimum value in a set.

In [60]:
set39 = {221, 109, 45, 0, 52}

print(min(set39))

0

#### 40. Create a set from user input.

In [62]:
set40 = set()

for i in range(5):
    set40.add(input(f"Enter {i+1} element of set:"))
    
print(f"The set created is {set40}")

Enter 1 element of set: 43
Enter 2 element of set: 23
Enter 3 element of set: 7
Enter 4 element of set: 9
Enter 5 element of set: 88

The set created is {'88', '9', '23', '43', '7'}

#### 41. Check if the intersection of two sets is empty.

In [63]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Seoul", "Kabul"}
cities3 = cities.intersection(cities2)
print(cities3)

set()

#### 42. Create a set of the first 5 Fibonacci numbers.

In [74]:
def fibo(n):  # gives value of the nth position of Fibonacci number
    if n <= 1:
        return n
    else:
        return fibo(n-1) + fibo(n-2)
    
fnum = 6  # first 5 Fibonacci numbers. As the output will be a set, second 1 will be ommitted.
fl = []

for i in range(fnum):
    fl.append(fibo(i))  
    

print(f"Set of First 5 Fibonacci numbers: {set(fl)}")

Set of First 5 Fibonacci numbers: {0, 1, 2, 3, 5}

#### 43. Remove duplicates from a list using sets.

In [75]:
lst43 = [2, 2, 2, 43, 56, 78, 99, 10, 99, 11]

lst43 = list(set(lst43))
print(lst43)

[2, 99, 10, 43, 11, 78, 56]

#### 44. Check if two sets have the same elements, regardless of their count.

In [78]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

#### 45. Create a set of the first `n` powers of 2.

In [79]:
num = 5

powr_set = {2 ** i for i in range(num)}

print(powr_set)

{1, 2, 4, 8, 16}

#### 46. Find the common elements between a set and a list.

In [80]:
set46 = {1, 2, 4, 8, 16}

lst46 = [1, 22, 4, 82, 36]

sl46 = set(lst46)

print(set46.intersection(sl46))

{1, 4}

#### 47. Create a set of the first `n` triangular numbers.

In [81]:
n = 8

set47 = {i * (i + 1) // 2 for i in range(1, n + 1)}

print(set47)

{1, 3, 36, 6, 10, 15, 21, 28}

#### 48. Check if a set contains another set as a subset.

In [89]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Delhi", "Madrid"}
print(cities2.issubset(cities))

True

#### 49. Create a set of alternating 1s and 0s of length `n`.

In [84]:
set49 = set()

for i in range(10):
    if i % 2 == 0:
        set49.add(1)
    else:
        set49.add(0)
        
print(set49)

{0, 1}

#### 50. Merge multiple sets into one.

In [90]:
set50 = {1, 3, 4, 7}
set51 = {44, 74, 89, 1, 7}
set52 = {5, 6, 7}

set50.update(set51, set52)
print(set50)

{1, 3, 4, 5, 6, 7, 74, 44, 89}